<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашний кинотеатр</title>
    <link rel="stylesheet" href="{% static 'css/style_first.css' %}" >
</head>
<body>
    <h1>ДОМАШНИЙ КИНОТЕАТР</h1>
    <div>
        <a href="/movies/duna_2/"><img src="{% static 'images/duna2.png' %}"></a>

        <a href="/movies/pchelovod"><img src="{% static 'images/pchelovod.png' %}"></a>

    </div>
</body>
</html>