<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дюна. Часть 2</title>
    <link rel="stylesheet" href="{% static 'css/style_movies.css' %}" >
</head>
<body>
    <h3><a href="..">Вернуться к выбору фильма</a></h3>
    <h1>Дюна. Часть 2</h1>
    <h2>Фильм "Дюна" выйдет в 2024 году и объединяет жанры фантастики, боевика, драмы и приключений.</h2>
    <h2>В главных ролях: Тимоти Шаламе, Оскар Исаак, Ребекка Фергюсон, Зендея, Джош Бролин, Джейсон Момоа, Стефани Линдберг.</h2>
    <h2>Режиссёры: Дени Вильнёв и Джон Спэйтс. Сценаристы: Дени Вильнёв, Джон Спэйтс и Фрэнк Герберт.</h2>
    <h2>Художник Патрис Верметт. Продюсер Пэтрик МакКормик.</h2>
    <h2>Музыку написал Ханс Циммер, монтажом занимался Джо Уокер, а операторами были Грег Фрейзер.</h2>
    <h2>Бюджет - $190 млн., сборы в США - $233,358,543, сборы в мире - $341 млн., сборы от премьеры составили $574,358,543.</h2>
    <h2>Время просмотра составляет 2 часа 46 минут.</h2>

    <div>
        <img src="{% static 'images/duna2.png' %}">
        <img src="{% static 'images/duna2_2.png' %}">
        <img src="{% static 'images/duna2_3.png' %}">
    </div>
</body>
</html>