<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Пчеловод</title>
    <link rel="stylesheet" href="{% static 'css/style_movies.css' %}">
</head>
<body>
    <h3><a href="..">Вернуться к выбору фильма</a></h3>
    <h1>Пчеловод</h1>
    <h2>Фильм "Год производства 2024" создан в США и Великобритании в жанрах боевика и криминала.</h2>
    <h2>Режиссёр Дэвид Эйр, сценаристы Курт Уиммер и Джейсон Стэйтем.</h2>
    <h2>В съемках задействованы операторы Габриель Беристайн и композитор Джаред Майкл Фрай.</h2>
    <h2>Бюджет фильма - $40 млн, доход - $152.6 млн.</h2>
    <h2>Время фильма - 105 минут. Рейтинг MPAA - R.</h2>

    <div>
        <img src="{% static 'images/pchelovod.png' %}">
        <img src="{% static 'images/pchelovod2.png' %}">
        <img src="{% static 'images/pchelovod3.png' %}">
    </div>
</body>
</html>
