.p_1{
    font-size: 14pt; /*Размер шрифта*/
    color: rgb(12, 12, 208); /*Цвет текста*/
    background-color: rgb(216, 216, 128); /*Цвет фона*/
    padding: 5%; /*Внутренний отступ*/
    width: 50%; /*Ширина*/
    /*padding: 10% 2% 30% 5%; Внутренний отступ разный по часовй стрелке*/
    /*padding-top: Верхний отступ*/;
    /*padding-left: Левый отступ*/;
    /*padding-right: Правый отступ*/;
    /*padding-bottom: Нижний отступ*/;
    margin: 70px; /*отступ сверху*/
    /*margin-bottom: 10px; отступ снизу*/
    /*text-align: center; выравнивание текста*/
    text-align: justify; /*выравнивание текста по горизонтали*/
    text-indent: 50px; /*Красная строка*/
}
.p_1 span:nth-child(1){
    /*font-weight: bold;*/
}

.p_1 span:nth-child(2){
    font-style: italic; /*Курсив*/
    text-indent: 50px;
}

.p_1 span:nth-child(3){
    text-decoration: line-through; /**/
    text-indent: 100px;


}





















.box span{
    background-color: rgb(87, 213, 213);
    margin-right: 20px;
}

.box{
    background-color: blueviolet;
    padding: 50px;
}
