<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>
        {% block title %}

        {% endblock title %}
    </title>

</head>
<body>
    <input type="submit" id="btn_theme" name="theme" value="Сменить тему">
    {% block base_content %}

    {% endblock base_content %}
<script src="{% static 'js/script_mode.js' %}"></script>
</body>
</html>