{% extends "base.html" %}

{% block title %}
    Отзывы
{% endblock title %}

<{% block base_content %}
    <h2><a href = '..'>Вернуться на главную</a></h2>
    <form method="POST" action="/pets/feedback/">
        {% csrf_token %}
        <textarea name="feedback" style="background: rgb(0,0,0, 20%)"></textarea> <br>
        <input type="submit">
    </form>

    <h1>Отзывы</h1>
    {% for item in feedback %}
    <div style="background: LightSteelBlue;" id="{{ item.id }}">
        <p>{{ item.text }}</p>
        <p>Дата: {{ item.data_created }}</p>
        {% if item.date_updated != item.data_created and item.date_updated != None %}
            <p>дата редактирования: {{ item.date_updated }}</p>
        {% endif %}

        <a href="../edit_feedback/{{ item.id }}/"><button>Редактировать</button></a>
        <a href="../delete_feedback/{{ item.id }}/"><button>Удалить</button></a>
    </div>
    {% endfor %}
{% endblock base_content %}