table{
    border-collapse: collapse;
    padding: 7px;
}

td{
    padding: 7px;
}

th{
    padding: 13px;
    width: 105px;
    height: 25px;
    margin-bottom: 20px;
}

table tr:nth-child(1){
    color: aliceblue;
    text-align: center;
    font-size: 12pt;
}

span{
    font-size: 19pt;
}

.plan{
    background-color: rgb(182, 182, 208);
}

.start{
    background-color: rgb(148, 148, 202);
}

.econom{
    background-color: rgb(124, 124, 206);
}

.standart{
    background-color: rgb(102, 102, 217);
}

.profi{
    background-color: rgb(89, 40, 237);
}

.one, .three, .five, .seven td:nth-child(odd){
    background-color: rgb(147, 145, 149);
    font-size: 10pt;
}

.one td:nth-child(even){
    background-color: rgb(212, 211, 213);
    font-size: 10pt;
}

.two td:nth-child(even){
    font-size: 10pt;
}

.two td:nth-child(odd){
    background-color: rgb(212, 211, 213);
    font-size: 10pt;
}

.three td:nth-child(even){
    background-color: rgb(212, 211, 213);
    font-size: 10pt;
}

.four td:nth-child(odd){
    background-color: rgb(212, 211, 213);
    font-size: 10pt;
}

.four td:nth-child(even){
    font-size: 10pt;
}

.five td:nth-child(even){
    background-color: rgb(212, 211, 213);
    font-size: 10pt;
}

.six td:nth-child(odd){
    background-color: rgb(212, 211, 213);
    font-size: 10pt;
}

.six td:nth-child(even){
    font-size: 10pt;
}

.seven td:nth-child(even){
    background-color: rgb(212, 211, 213);
    font-size: 10pt;
}

.seven td:nth-child(odd){
    font-size: 10pt;
}

.center{
    text-align: center;
}
































/* .one{
    background-color: rgb(195, 195, 231);
    padding: 30px;
    margin: 0px;
}

.two{
    background-color: rgb(154, 154, 229);
    padding: 20px;
    margin: 0px;
}

.three{
    background-color: rgb(102, 102, 221);
    padding: 20px;
    margin: 0px;
}

.four{
    background-color: rgb(69, 69, 212);
    padding: 20px;
    margin: 0px;
}

.five{
    background-color: rgb(24, 24, 207);
    padding: 20px;
    margin: 0px;
} */