<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
    <link rel="stylesheet" href="{% static 'css/style_main.css' %}" >
</head>
<body>
<div class="box">
    <form method="POST" action="/todo/edit_task/{{ id }}/">
        {% csrf_token %}
        <div style="background-color: rgba(87, 113, 77, 0.3)" class="redaction">
            <label>Новое описание:</label><br>
            <input type="text" name="title" value="{{ title }}" class="edit_task"><br>

            <label>Новое название: </label><br>
            <input type="text" name="text" value="{{ text }}" class="edit_task">
        </div>

        <div  class="add_task">
        <input type="submit" value="Изменить">
        <a href="/todo/"><input type="submit" value="Назад"></a>
        </div>
    </form>
</div>
</body>
</html>